@import './styles/variables';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: $main-color;
  text-decoration: none;
}
p {
  color: $main-color;
}
h1,
h2,
h3,
h4 {
  color: $main-color;
}
ul,
ol,
li {
  list-style: none;
}
button {
  background-color: transparent;
  color: $main-color;
  border: none;
  outline: none;
  cursor: pointer;
}
input {
  color: $main-color;
  outline: none;
  border: none;
}
