@import '../../styles/variables', '../../styles/mixin';

.Container {
  @include flex(center, center);
  width: 100%;
  position: fixed;
  z-index: 9999;
  padding: 0 20px;
  background-color: $main-color;
  .NavContainer {
    @include flex(space-between, center);
    width: 1180px;
    height: 100px;
    .HamburgerBtn {
      display: none;
    }
    a {
      color: $color-white;
      h1 {
        color: $color-white;
      }
    }
    button {
      font-size: base-font-size('micro');
      color: $color-white;
      background-color: transparent;
    }

    .RightMenuContainer {
      display: flex;
      align-items: center;
      li {
        border-radius: 5px;
        &:active {
          background-color: #000;
        }
      }
      a {
        display: block;
        padding: 5px 20px;
      }
      button {
        padding: 5px 20px;
      }
    }
  }
}

@include respond-to('tablet') {
  .Container {
    padding: 0 20px;
    .NavContainer {
      background-color: $main-color;
      width: 100%;
      height: 60px;
      @include flex(center, center);
      .HamburgerBtn {
        display: block;
        position: absolute;
        top: 12.5px;
        left: 20px;
        width: 35px;
        height: 35px;
      }
      svg {
        color: $color-white;
      }

      .RightMenuContainer {
        @include flex(center, center, column);
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        z-index: -9999;
        transition: all 300ms ease;
        a {
          display: none;
        }
        button {
          display: none;
        }
      }
      .open {
        justify-content: space-around;
        transition: all 300ms ease;
        background-color: #292929;
        li {
          display: block;
          width: 100%;
          padding: 0;
          text-align: center;
          a {
            display: block;
            padding: 15px 0;
            width: 100%;
            font-size: small-font-size('regular');
          }
          button {
            display: block;
            width: 100%;
            padding: 15px 0 30px;
            font-size: small-font-size('regular');
          }
        }
      }
    }
  }
}

@include respond-to('mobile') {
  .Container {
    padding: 0 20px;
    .NavContainer {
      h1 {
        font-size: small-font-size('regular');
      }
      .open {
        li {
          a {
            padding: 10px 0;
            font-size: small-font-size('small');
          }
          button {
            padding: 10px 0 20px;
            font-size: small-font-size('small');
          }
        }
      }
    }
  }
}
